<!DOCTYPE html>
<html class="" lang="en"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">   
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">   
    <style class="cp-pen-styles">
      @import url("//fonts.googleapis.com/css?family=Material+Icons");

      .vue-table {
         font: 16px sans-serif;
         border-collapse: collapse;
      }

      .vue-table td, .vue-table th {
          border: 1px solid #ccc;
          padding: 5px;
      }
    </style>
  </head>
 <body>

<div id="app">
    <vue-table v-model="list"></vue-table>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.min.js"></script>

<script>"use strict";
var list = [
    { name: 'Neil', category: 'Engineering', value: 13 },
    { name: 'Norah', category: 'Marketing', value: 23 },
    { name: 'Kasey', category: 'Sales', value: 120 },
    { name: 'Sabrina', category: 'Marketing', value: 40 },
    { name: 'Paul', category: 'Sales', value: 45 }
];

new Vue({
    el: '#app',
    components: { 'vue-table': VueTable },
    data: { list: list }
});

</script>
</body></html>