{% extends 'pd_monitor/masterpage.html' %}
{% block content %}

<div class="container">
	<br><h2 class="breadcrumb">Device Index</h2>
	{% if device_list %}
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
				<th>Name</th>
				<th>Status</th>
				<th>IP</th>
				<th>Current Value</th>
				</tr>
			</thead>
			<tbody> 
			{% for device in device_list %}
				<tr>
				<td>
					<a href="{% url 'pd_monitor:detail' device.id %}">{{ device.name }}
					<small class="text-muted d-block">{{ device.description }}</small>
				</td>
				<td>0</td>
				<td>{{ device.ip }}</td>
				<td>{{ device.value }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>No devices available.</p>
	{% endif %}

	<form action="{% url 'pd_monitor:index_js' %}" method="post">
		{% csrf_token %}
		<input type="submit" value="JS index" class="btn btn-warning">
	</form>
</font></div>

{% endblock %}
