{% extends 'pd_monitor/masterpage.html' %}
{% load static %}
{% block content %}
<p id="jstest"></p>
	<!-- div id="app">
		<app-test v-for="device in devices" v-bind:item="device" v-bind:key="item.id">
		</app-test>
	</div -->

<script type="text/javascript" src="{% static 'index.js' %}"></script>
{% endblock %}


<!-- IGNORED SINCE OUTSIDE BLOCK DECLARATION -->
{% if device_list %}
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
				<th>Name</th>
				<th>Status</th>
				<th>IP</th>
				<th>Current Value</th>
				</tr>
			</thead>
			<tbody> 
			{% for device in device_list %}
				<tr>
				<td>
					<a href="{% url 'pd_monitor:detail' device.id %}">{{ device.name }}
					<small class="text-muted d-block">{{ device.description }}</small>
				</td>
				<td>0</td>
				<td>{{ device.ip }}</td>
				<td>{{ device.value }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>No devices available.</p>
	{% endif %}
