<!-- This template is still only in html -->

{% extends "masterpage.html" %}
{% load static %}

{% block content %}
<div class="container"><br>
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<table class="table table-striped">
		<thead class="thead-dark">
			<tr>
			<th colspan="2"><h2>{{ device.name }}</h2></th>
			</tr>
		</thead>
		<tbody>
			<tr><td>Description</td><td>{{ device.description }}</td></tr>
			<tr><td>Address</td><td>{{ device.ip }}:{{ device.port }}</td></tr>
			<tr><td>Sleeptime</td><td>{{ device.sleeptime }} sec</td></tr>
		</tbody>
	</table>
</div>
{% endblock %}

{% block redirect %}
<form action="{% url 'pd_monitor:index' %}" method="post">
	{% csrf_token %}
	<input type="submit" value="Back to Index" class="btn btn-primary>
</form>
<form action="{% url 'pd_monitor:remove_device' device.id %}" method="post">
	{% csrf_token %}
	<input type="submit" value="Remove" class="btn btn-warning">
</form>
{% endblock %}
