{% load static %}<!DOCTYPE html>
<html>
<h2>Device Index</h2>

<div class="container">
	<ol class="breadcrumb my-4">
		<li class="breadcrumb-item actiave">Devices</li>
	</ol>

{% if device_list %}
	<table class="table">
		<thead class="thad-inverse"><tr>
			<th>Device</th><th>Decription</th><th>IP</th><th class="align-middle">Current Value</th>
		</thead></tr>
		<tbody> 
			{% for device in device_list %}
				<tr>
				<td><a href="{% url 'pd_monitor:detail' device.id %}">{{ device.name }}</a></td>
				<td>{{ device.description }}</td>
				<td>{{ device.ip }}</td>
				<td>{{ device.value }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>No devices are available.</p>
{% endif %}
</html>
