<!DOCTYPE html>

<html>
	<head>
	<meta charset="uft-8">
	</head>
	<body><font face=monospace>
		<p>test.</p>
		<div id="app">
			<h1>[[ message ]]</h1>
			<h1>[[ device_list ]]</h1>
		</div>

		<!-- <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script> -->
		<script src="https://unpkg.com/vue@next"></script> 
		<script>
			var myObject = new Vue({
    				el: '#app',
				delimiters: ['[[', ']]'],
				data: {
					message: 'Hello Vue!',
					device_list: 'device_list',
				}
			})
		</script>
	</font></body>
</html>
