{% extends "pd_monitor/masterpage.html" %}
{% load static %}

{% block content %}
{{ device_list_json }}
{{ device_list_json|json_script:"datas" }}

<script>JSON.parse(document.getElementById('datas').innerHTML);</script>

<hr class="rounded">

<div class=container id="info-table"> 
	[[ data ]]
</div>

<script src="{% static 'jstest.js' %}"></script>
{% endblock content %}

{% block redirect %}
<br>
<form action="{% url 'pd_monitor:index' %}">
	<input type="submit" value="Back to Index"></input>
</form>
<br>
<form action="{% url 'pd_monitor:jstest' %}">
	<button type="submit" class="btn btn-primary">Refresh!</button>
</form> 
{% endblock %}
