{% extends "main/masterpage.html" %}
{% load static %}

{% block content %}
{% if message %}<h2>{{ message }}</h2>{% endif %}
{% csrf_token %}
<div class="container" id="devicedetail">
	<detail-table v-bind:device="{{ detail }}" v-bind:pk="{{ pk }}"></detail-table>
</div>

<script type="text/javascript" src="{% static 'main/detail.js' %}"></script>
{% endblock %}

{% block redirect %}
<form action="{% url 'main:index' %}">
	{% csrf_token %}
	<input type="submit" value="Back to Index" class="btn btn-primary">
</form>
{% endblock %}
