{% extends "main/masterpage.html" %}
{% load static %}

{% block content %}
<form action="{% url 'main:index' %}">
	{% csrf_token %}
	<input type="submit" value="Back to Index" class="btn btn-primary">
</form>

<div class="container" id="devicedetail">
	<detail-table v-bind:device="{{ detail }}"></detail-table>
</div>

<div class="container" id="pddata">
	<pddata-table v-bind:device="{{ detail }}"></pddata-table>
</div>

<script type="text/javascript" src="{% static 'main/detail.js' %}"></script>
<!-- script src="{% static 'pddata.js' %}"></script -->
{% endblock %}

{% block redirect %}
<form action="{% url 'main:index' %}">
	{% csrf_token %}
	<input type="submit" value="Back to Index" class="btn btn-primary">
</form>
{% endblock %}
