{% extends "main/masterpage.html" %}
{% load static %}

{% block content %}
<div class=container id="index">
	<index-table></index-table> <!-- see views... should we pass the index with the view or load it with axios? -->
	<!-- index-table v-bind:devices="{{ device_list }}"></index-table -->
</div>

<script src="{% static 'main/index.js' %}"></script>
{% endblock content %}

{% block redirect %} 
<form action="{% url 'main:index' %}" method="get">
	<input type="submit" class="btn btn-primary" value="REFRESH">
</form>
{% endblock %}